# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info
.venv
venv
env

# Git
.git
.gitignore

# IDE / Editor
.vscode
.idea
*.swp
*.swo

# Caches
.ruff_cache
.mypy_cache
.pytest_cache

# OS
.DS_Store
Thumbs.db

# Project
auth/alembic
auth/uv.lock
auth/README.md
